127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.100.11.147 ipa.skudrin.ru ipa
10.100.11.148 client1.skudrin.ru client1
10.100.11.149 client2.skudrin.ru client2